<!DOCTYPE html>
<html lang="en">
<head>
    {{template "head"}}
</head>

<body>
{{template "topbar"}}

<div class="ch-container">
    <div class="row">

        {{template "menu"}}
        {{template "noscript"}}

        <div id="content" class="col-lg-10 col-sm-10">
            <!-- content starts -->
            {{template "path"}}
            <div>












            </div>
            <!-- content ends -->
        </div><!--/#content.col-md-0-->

    </div><!--/fluid-row-->


    <hr>

    {{template "modal_box"}}
    {{template "footer"}}

</div><!--/.fluid-container-->

{{template "external"}}
</body>
</html>
