{% extends "base.html" %}


{% block breadcrumb %}

<li>
    <a href="#">Home</a>
</li>
<li>
    <a href="#">Dashboard</a>
</li>
{% endblock %}



{% block inner %}
<div class="row">
    {% for table,v in tables.items() %}
    <div class="box col-md-6">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2>{{table}}
                </h2>

                <div class="box-icon">
                    <a href="#" class="btn btn-setting btn-round btn-default"><i
                            class="glyphicon glyphicon-cog"></i></a>
                    <a href="#" class="btn btn-minimize btn-round btn-default"><i
                            class="glyphicon glyphicon-chevron-up"></i></a>
                    <a href="#" class="btn btn-close btn-round btn-default"><i
                            class="glyphicon glyphicon-remove"></i></a>
                </div>
            </div>
            <div class="box-content">
                <div class="table-button-box">
                    <span class="table-button"><button id="addRows"
                                                       class="btn btn-success btn-sm sugar-btn">Add </button></span>
                    <span class="table-button"><button id="deleteRows"
                                                       class="btn btn-danger btn-sm sugar-btn">Delete</button></span>
                    <span class="table-button"><button id="updateRows"
                                                       class="btn btn-info btn-sm sugar-btn">Update</button></span>
                </div>

                <table id='{{table}}' class="table table-bordered display nowrap" style="width:100%">

                    <thead>
                    <tr>
                        {% for i in v.conf.title %}

                        <th>{{i}}</th>
                        {% endfor%}
                        <th>111</th>
                        <th>333</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        {% for i in v.conf.title %}

                        <th>{{i}}</th>
                        {% endfor%}
                                                <th>111</th>
                        <th>333</th>
                    </tr>
                    </tfoot>
                </table>
                <ul class="pagination pagination-centered">
                    <li><a href="#">Prev</a></li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--/span-->
    {% endfor %}

    <!--/span-->

</div><!--/row-->
{% endblock %}


{% block content %}
{{super()}}
{% endblock %}



{% block script %}

<script>

    $(document).ready(function () {
        //todo 可以拿到配置进行表相关配置
        var selector = '#role';
        var ajaxUrl = 'curd/role/list';
        var t = $(selector).DataTable({
            // "ajax": ajaxUrl,
             "scrollX": true,
              "columns": [
                    { "width": "800px" },
                    { "width": "800px" },
                    { "width": "800px" },
                    { "width": "800px" },
                    ]
        });

    })


</script>
{% endblock %}


